@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

:root {
  --background: oklch(100% 0 0);
  --foreground: oklch(13.627% 0.0364 259.20245);
  --card: oklch(100% 0 0);
  --card-foreground: oklch(13.627% 0.0364 259.20245);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(13.627% 0.0364 259.20245);
  --primary: oklch(20.768% 0.03983 265.75245);
  --primary-foreground: oklch(98.415% 0.00341 247.79335);
  --secondary: oklch(96.826% 0.00685 247.88813);
  --secondary-foreground: oklch(20.768% 0.03983 265.75245);
  --muted: oklch(96.826% 0.00685 247.88813);
  --muted-foreground: oklch(55.439% 0.04072 257.41777);
  --accent: oklch(96.826% 0.00685 247.88813);
  --accent-foreground: oklch(20.768% 0.03983 265.75245);
  --destructive: oklch(63.683% 0.20785 25.33215);
  --destructive-foreground: oklch(98.415% 0.00341 247.79335);
  --success: oklch(71.983% 0.19184 149.51977);
  --success-foreground: oklch(98.415% 0.00341 247.79335);
  --border: oklch(92.876% 0.01262 255.50135);
  --input: oklch(92.876% 0.01262 255.50135);
  --ring: oklch(13.627% 0.0364 259.20245);

  --radius: 0.5rem;
}

.dark {
  --background: oklch(13.627% 0.0364 259.20245);
  --foreground: oklch(98.415% 0.00341 247.79335);
  --card: oklch(13.627% 0.0364 259.20245);
  --card-foreground: oklch(98.415% 0.00341 247.79335);
  --popover: oklch(13.627% 0.0364 259.20245);
  --popover-foreground: oklch(98.415% 0.00341 247.79335);
  --primary: oklch(98.415% 0.00341 247.79335);
  --primary-foreground: oklch(20.768% 0.03983 265.75245);
  --secondary: oklch(27.95% 0.03685 260.02895);
  --secondary-foreground: oklch(98.415% 0.00341 247.79335);
  --muted: oklch(27.95% 0.03685 260.02895);
  --muted-foreground: oklch(71.067% 0.03511 256.7791);
  --accent: oklch(27.95% 0.03685 260.02895);
  --accent-foreground: oklch(98.415% 0.00341 247.79335);
  --destructive: oklch(39.584% 0.13308 25.7236);
  --destructive-foreground: oklch(98.415% 0.00341 247.79335);
  --success: oklch(41.939% 0.07699 153.85097);
  --success-foreground: oklch(98.415% 0.00341 247.79335);
  --border: oklch(27.95% 0.03685 260.02895);
  --input: oklch(27.95% 0.03685 260.02895);
  --ring: oklch(55.439% 0.04072 257.41777);
}

@theme inline {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --font-serif:
    var(--font-source_serif), ui-serif, Georgia, Cambria, "Times New Roman",
    Times, serif;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-source_sans), sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-source_serif), serif;
  }

  .prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    @apply text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 dark:hover:text-indigo-300;
  }
}

@layer utilities {
  html {
    overflow-y: scroll;
    scrollbar-gutter: stable;
  }
}
